<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nodos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let sensor of sensors">
      <ion-button  routerLink="/nodes/{{sensor.dev_id}}" routerDirection="forward">
        {{sensor.dev_id}}
      </ion-button>
      <ion-label>
        T: {{sensor.lastPayload.payload_fields.Temp}}
      </ion-label>
      <ion-label>
        H: {{sensor.lastPayload.payload_fields.Hum}}
      </ion-label>
      <!-- <ion-label>
        Nivel: {{sensor.lastPayload.payload_fields.Level}}
      </ion-label> -->
      <ion-label>
       {{sensor.lastPayload.payload_date | date: 'dd/MM/yyyy'}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nodos</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
