<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>


  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">App Id <ion-text color="danger">*</ion-text></ion-label>
        <ion-input>lora-node-jcarloscandela</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Access Key <ion-text color="danger">*</ion-text></ion-label>
        <ion-input>ttn-account-v2.887Flf39sj7QaSAteMdXc8t0VSEpfc1A-kSVKcQEiu8</ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Guardar</ion-button>
      </div>
    </ion-list>

  </form>

</ion-content>